html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #b00af7;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

h1 {
  font-size: 50px;
}

button {
  font-size: 1.2em;
  color: #bb6aeb;
  background-color: #000000;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  display: none;
  margin-bottom: 1rem;
}

.cell {
  width: 100px;
  height: 100px;
  background: #0f0f0f;
  font-size: 2em;
  cursor: pointer;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0f0f0f;
}

.cell:hover {
  background: #5f379d;
  color: #0f0f0f;
  transition: 0.25s;
}

p {
  font-size: 25px;
}

#reiniciarButton {
  padding: 10px 20px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #732997;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .HomePage {
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 909px) {
  .HomePage {
    width: 80vh;
  }
}
