.mainPage{
    margin: 0;
    padding: 0;
    font-family:Georgia, Times, 'Times New Roman';
    background: linear-gradient(rgb(7, 7, 7) 16.61%, #54FF9F 85.62%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    
    
}

h1{
    font-size: 50px;
    display: flex;
    color: #54FF9F;
}
.separate{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(#54FF9F 16.61%, #000000 85.62%);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;

}
/*#playX{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
}
#playO{
    display: flex;
    justify-content: center;
    color: rgb(170, 50, 50);
    font-size: 25px;
}*/
.startGame{ 
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #54FF9F;
    width: 120px;
    height: 100px;
    background-color:#000000;
    animation: deslizar 2s ease-in-out;
    
}

#conteudo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient( #000000 16.62%, #54FF9F 85.61%);
    position: relative;
}




.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    /* 3 colunas de 100px*/
    gap: 10px;
    margin: 20px auto;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    background: #0f0f0f;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background: #54FF9F;

}
p{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}

#reiniciarButton {
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #000000;
    color: #54FF9F;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .HomePage {
      width: 100%;
    }
  
  }
  @media screen and (min-width: 767px) and (max-width:909px){
    .HomePage {
      width: 80vh;
    }
  
  }

 /* @media print {
    .HomePage{
        display: none;
    }
  }*/
